html {
  height: 100%;
  scrollbar-gutter: stable;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100%;
  padding: var(--body-padding);

  font-family: 'Proxima Nova';
  background-color: #ffdf8c;
  color: var(--color-main-dark);
  letter-spacing: var(--main-letter-spacing);
}

#root {
  position: relative;
  flex-grow: 1;
  max-width: var(--root-width);
  width: 100%;

  padding-inline: var(--root-pd-inline);
  background-color: var(--color-main-light);
  border-radius: 0.75rem;
}
