@use 'sass:map';

$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
);

@mixin mediaMin($size) {
  $breakpoint: map.get($breakpoints, $size);

  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin mediaMax($size) {
  $breakpoint: map.get($breakpoints, $size);

  @media (max-width: ($breakpoint - 0.02px)) {
    @content;
  }
}

@mixin mediaMinMax($min, $max) {
  $min: map.get($breakpoints, $min);
  $max: map.get($breakpoints, $max);

  @media (min-width: $min) and (max-width: ($max - 0.02px)) {
    @content;
  }
}

@mixin activeState() {
  &.is_active {
    @content;
  }
}
