@use './_mixins.scss' as mixins;

:root {
  --body-padding: 0.5rem;
  --root-pd-inline: 0.5rem;
  --root-width: 90rem;
  --header-pd-block: 1rem;
  --main-letter-spacing: 0.04em;
}

@include mixins.mediaMin('md') {
  :root {
    --body-padding: 1.5rem;
    --root-pd-inline: 1.3rem;
    --header-pd-block: 1.5rem;
  }
}

@include mixins.mediaMin('xl') {
  :root {
    --body-padding: 2rem;
    --root-pd-inline: 2rem;
    --header-pd-block: 2rem;
  }
}
