@use './_mixins.scss' as mixins;

:root {
  --body-pd-block: 0.5rem;
  --body-pd-inline: 0.5rem;
  --root-pd-inline: 0.5rem;
  --root-width: 90rem;
  --header-pd-block: 1rem;
  --main-letter-spacin: 0.04em;
  --root-min-height: calc(100vh - 3rem);
}

@include mixins.mediaMin('md') {
  :root {
    --body-pd-block: 1.5rem;
    --body-pd-inline: 1.5rem;
    --root-pd-inline: 1.3rem;
    --header-pd-block: 1.5rem;
  }
}

@include mixins.mediaMin('xl') {
  :root {
    --body-pd-inline: 3rem;
    --root-pd-inline: 2rem;
    --header-pd-block: 2rem;
  }
}
