@use '@/app/styles/mixins' as mixins;

.footer_summary {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2.5rem;
  padding-inline: 1.5rem;
  font-size: 1.1rem;

  @include mixins.mediaMin('md') {
    font-size: 1.5rem;
  }

  .total {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .quantity_label {
    font-size: 1.5rem;
  }

  .label {
    &:last-of-type {
      @include mixins.mediaMax('md') {
        display: none;
      }
    }
  }

  .amount {
    color: var(--color-accent);
    font-weight: 700;
    font-size: 1.6rem;
  }
}

.footer_actions {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;

  @include mixins.mediaMin('md') {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
