.quantity_control {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.decrease_button,
.increase_button {
  align-items: center;
  border: 2px solid currentColor;
  background-color: transparent;
  color: var(--color-accent);
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  height: 2rem;
  justify-content: center;
  transition: all .25s;
  width: 2rem;


  &:hover, &:focus {
    color: color-mix(in srgb, var(--color-accent), black 10%);
  }
}


.decrease_button_icon,
.increase_button_icon {
  fill: currentColor;
}

.text {
  text-align: center;
  width: 2rem;
}