.filter_wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 2rem;

  @include mix.media-up('lg') {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

.search {
  @media (min-width: 48rem) and (max-width: 64rem) {
    margin-inline: auto;
  }

  @include mix.media-down('lg') {
    order: 1;
  }
}