/* Error: There is no module with the namespace "mix".
 *    ,
 * 7  | /   @include mix.media-up('lg') {
 * 8  | |     align-items: center;
 * 9  | |     flex-direction: row;
 * 10 | |     justify-content: space-between;
 * 11 | \   }
 *    '
 *   home-page.module.scss 7:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: There is no module with the namespace \"mix\".\a    \2577 \a 7  \2502  \250c    @include mix.media-up('lg') {\a 8  \2502  \2502      align-items: center;\a 9  \2502  \2502      flex-direction: row;\a 10 \2502  \2502      justify-content: space-between;\a 11 \2502  \2514    }\a    \2575 \a   home-page.module.scss 7:3  root stylesheet";
}
