.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  padding: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.subtitle {
  color: var(--color-main-gray);
  margin-bottom: 2rem;
}
