.button {
  border: 0;
  background-color: #f9f9f9;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: 700;
  height: 2.75rem;
  padding-inline: 2rem;
  min-width: 5rem;
  max-width: 12rem;

  &.active {
    background-color: #282828;
    color: #fff;
  }

  &:hover,
  &:focus {
    background-color: #282828;
    color: #fff;
  }
}
