@use '@/app/styles/mixins' as mixins;

.layout_wrap {
  --page-padding-block: 3rem;
  --page-height: #{calc(100vh - var(--body-padding) - var(--page-padding-block))};

  min-height: var(--page-height);
  display: flex;
  flex-direction: column;
}

.cart_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  max-width: 800px;
  width: 100%;
  margin-inline: auto;

  @include mixins.mediaMin('md') {
    width: fit-content;
    padding-bottom: 2rem;
  }
}

.cart_footer {
  margin-top: auto;
  padding-top: 2rem;
}
