/* Error: There is no module with the namespace "mix".
 *    ,
 * 31 | / @include mix.media-up('md') {
 * 32 | |   :root {
 * 33 | |     --body-padding-inline: 1.5rem;
 * 34 | |     --root-padding-inline: 1.3rem;
 * 35 | |   }
 * 36 | \ }
 *    '
 *   index.scss 31:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: There is no module with the namespace \"mix\".\a    \2577 \a 31 \2502  \250c  @include mix.media-up('md') {\a 32 \2502  \2502    :root {\a 33 \2502  \2502      --body-padding-inline: 1.5rem;\a 34 \2502  \2502      --root-padding-inline: 1.3rem;\a 35 \2502  \2502    }\a 36 \2502  \2514  }\a    \2575 \a   index.scss 31:1  root stylesheet";
}
