html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* img {
  display: block;
  max-width: 100%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-orange: #fe5f1e;

  --body-padding-inline: 0.5rem;
  --root-padding-inline: 0.5rem;
}

@include mix.media-up('md') {
  :root {
    --body-padding-inline: 1.5rem;
    --root-padding-inline: 1.3rem;
  }
}

@include mix.media-up('xl') {
  :root {
    --body-padding-inline: 3rem;
    --root-padding-inline: 2rem;
  }
}

body {
  background-color: #ffdf8c;
  color: #000;
  margin: 0;
  min-height: 100vh;
  padding: 1.5rem var(--body-padding-inline) ;
}

#root {
  background-color: #fff;
  border-radius: 0.75rem;
  max-width: 90rem;
  margin-inline: auto;
  padding: 0 var(--root-padding-inline) 6rem;
}
