html {
  box-sizing: border-box;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-gray-500: #b6b6b6;
  --color-gray-300: #d7d7d7;
  --color-gray-200: #d3d3d3;
  --color-gray-100: #f4f4f4;

  --color-accent: #fe5f1e;
  --color-main-dark: #2c2c2c;
  --color-main-light: #fff;
  --color-main-gray: #b6b6b6;


  --color-header-border: var(--color-gray-100);

  --body-padding-inline: 0.5rem;
  --root-padding-inline: 0.5rem;
}

@include mix.media-up('md') {
  :root {
    --body-padding-inline: 1.5rem;
    --root-padding-inline: 1.3rem;
  }
}

@include mix.media-up('xl') {
  :root {
    --body-padding-inline: 3rem;
    --root-padding-inline: 2rem;
  }
}

body {
  background-color: #ffdf8c;
  color: var(--color-main-dark);
  margin: 0;
  min-height: 100vh;
  padding: 1.5rem var(--body-padding-inline);
}

#root {
  background-color: var(--color-main-light);
  border-radius: 0.75rem;
  max-width: 90rem;
  margin-inline: auto;
  padding: 0 var(--root-padding-inline) 6rem;
}
