.pizza_item {
  max-width: 17.5rem;
}

.title {
  font-size: 1.25em;
  font-weight: 800;
  text-align: center;
  margin: 0 0 1.4rem;
}

.options_wrap {
  border-radius: 0.75rem;
  background-color: rgba(#2c2c2c, 0.05);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0.25rem;
}

.dough_type_list,
.sizes_list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-block: 0;
  padding-left: 0;
}

.dough_type_button,
.size_button {
  align-items: center;
  border: none;
  border-radius: 0.25rem;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  justify-content: center;

  &.active {
    background-color: var(--color-main-light);
  }
}

.dough_type_button {
  height: 2rem;
  width: 8.125rem;
}

.size_button {
  gap: 3px;
  height: 2rem;
  width: 5.325rem;
}

.price_add_btn_wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.price {
  align-items: center;
  display: flex;
  font-weight: 700;
  font-size: 1rem;
  gap: 0.25rem;
}

.add_button {
  align-items: center;
  border: 1px solid var(--color-accent);
  background-color: transparent;
  border-radius: 1.75rem;
  color: var(--color-accent);
  cursor: pointer;
  display: flex;
  font-weight: 700;
  gap: 0.5rem;
  min-height: 2.5rem;
  justify-content: center;
  min-width: 8.125rem;
  transition: background-color .25s, color .25s;

  &:active {
    translate: 0 2px;
  }

  &:hover, &:focus-visible {
    background-color: var(--color-accent);
    color: var(--color-main-light);
  }
}

.add_button_icon {
  fill: currentColor;
}

.quantity {
  align-items: center;
  background-color: var(--color-accent);
  border-radius: 50%;
  color: var(--color-main-light);
  height: 1.38rem;
  justify-content: center;
  width: 1.38rem;
  padding: 0.25rem;
  transition: background-color .25s, color .25s;

  .add_button:hover & {
    background-color: var(--color-main-light);
    color: var(--color-accent);
  }
}
