@use '@/app/styles/animations';

.root {
  gap: 0.5rem;

  &[href]:global(.pending) {
    position: relative;
    z-index: 1000;
    cursor: wait;
    pointer-events: none;
  }
}

.loading_label {
  margin-left: 0.5rem;
}
