.link {
  align-items: center;
  display: flex;
  gap: 0.75rem;
  text-decoration: none;
  width: 16.5rem;
}

.title {
  color: var(--color-main-dark);
  font-size: 1.5rem;
  font-weight: 799;
  text-transform: uppercase;
}

.subtitle {
  color: var(--color-main-gray);
}

.icon {
  height: 37px;
  width: 37px;
}

