.price {
  display: flex;
  font-weight: 700;
  gap: 0.25rem;


  &.accent {
    color: var(--color-accent)
  }

  &.dark {
    color: var(--color-main-dark);
  }

  &.light {
    color: var(--color-main-light);
  }

  &.sm {
    font-size: 1rem;
  }

  &.md {
    font-size: 1.375rem;
  }
}


