.price {
  font-weight: 700;
  display: inline-flex;
  align-items: baseline;

  &_value {
  }

  &_currency {
    font-size: 1.15rem;
    margin-left: 0.1em;
  }

  &_label {
    font-size: 0.75em;
    font-weight: 400;
    margin-right: 0.5rem;
    opacity: 0.7;
  }

  // Colors
  &.accent {
    color: var(--color-accent);
  }

  &.dark {
    color: var(--color-main-dark);
  }

  &.light {
    color: var(--color-main-light);
  }

  // Sizes
  &.sm {
    font-size: 1rem;
  }

  &.md {
    font-size: 1.375rem;
  }

  &.lg {
    font-size: 1.75rem;
  }
}
