.price {
  display: inline-flex;
  align-items: baseline;
  font-weight: 700;

  &_currency {
    font-size: 1.2rem;
  }

  // Colors
  &.accent {
    color: var(--color-accent);
  }

  &.dark {
    color: var(--color-main-dark);
  }

  &.light {
    color: var(--color-main-light);
  }

  // Sizes
  &.sm {
    font-size: 1rem;
  }

  &.md {
    font-size: 1.375rem;
  }

  &.lg {
    font-size: 1.75rem;
  }
}
