.root {
  @include mix.media-up('md') {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-right: 9rem;
  }
}

.info {
  display: flex;

  @include mix.media-down('md') {
    margin-bottom: 1.5rem;
  }
}

.image {
  height: 3rem;
  width: 3rem;
}

.title {
  font-size: 1.5rem;
  margin: 0 0 0.25rem;
}

.subtitle {
  color: #8d8d8d;
  display: flex;
  gap: 0.15rem;
  margin: 0;
}

.price {
  font-weight: 700;
  margin: 0;
  text-align: center;

  @include mix.media-down('md') {
    margin-bottom: 1.5rem;
  }

  @include mix.media-up('md') {
    font-size: 1.25rem;
    order: 1;
  }
}

.quantity_control {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.remove_button,
.decrease_button,
.increase_button {
  align-items: center;
  border: 1px solid;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;

  @include mix.media-up('md') {
    height: 2rem;
    width: 2rem;
  }
}

.remove_button {
  border-color: #b6b6b6;

  @include mix.media-up('md') {
    position: absolute;
    right: 0;
    inset-block: 0;
    margin-block: auto;
  }
}

.decrease_button,
.increase_button {
  border-color: var(--color-orange)
}
