.root {
  position: relative;

  @include mix.media-up('md') {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-right: 6rem;
  }
}


.info {
  display: flex;
  gap: 1rem;

  @include mix.media-down('md') {
    margin-bottom: 1.5rem;
  }
}

.image {
  height: 5rem;
  width: 5rem;
}

.card_text {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.2rem;
  margin: 0 0 0.25rem;

  @include mix.media-up('md') {
    font-size: 1.5rem;
  }
}

.subtitle {
  color: var(--color-main-gray);
  display: flex;
  gap: 0.15rem;
  margin: 0;
}

.remove_button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;

  @include mix.media-up('md') {
    inset-block: 0;
    margin-block: auto;
  }
}

.price {
  grid-column: 2;
  justify-content: center;

  @include mix.media-down('md') {
    margin-bottom: 2rem;
  }

  @include mix.media-up('md') {
    order: 1;
  }
}

.quantity_controls {
  @include mix.media-up('md') {
    inset-inline: 0;
    margin-left: 5rem;
    position: absolute;
  }
}