/* Error: There is no module with the namespace "mix".
 *   ,
 * 2 | /   @include mix.media-up('md') {
 * 3 | |     align-items: center;
 * 4 | |     display: flex;
 * 5 | |     justify-content: space-between;
 * 6 | |     position: relative;
 * 7 | |     padding-right: 9rem;
 * 8 | \   }
 *   '
 *   ordered-pizza-card.module.scss 2:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: There is no module with the namespace \"mix\".\a   \2577 \a 2 \2502  \250c    @include mix.media-up('md') {\a 3 \2502  \2502      align-items: center;\a 4 \2502  \2502      display: flex;\a 5 \2502  \2502      justify-content: space-between;\a 6 \2502  \2502      position: relative;\a 7 \2502  \2502      padding-right: 9rem;\a 8 \2502  \2514    }\a   \2575 \a   ordered-pizza-card.module.scss 2:3  root stylesheet";
}
