.root {
  display: grid;
  grid-template-columns: 80px 1fr 30px;
  grid-template-rows:auto;
  gap: 1.5rem 0.75rem;

  @include mix.media-up('md') {
    align-items: center;
    grid-template-columns: 80px auto 150px 150px 30px;
    grid-template-rows: 1fr;
  }
}

.info {
  display: flex;
  gap: 1rem;

  @include mix.media-down('md') {
    margin-bottom: 1.5rem;
  }
}

.image {
  height: 3rem;
  width: 3rem;
}

.title {
  font-size: 1.5rem;
  margin: 0 0 0.25rem;
}

.subtitle {
  color: var(--color-main-gray);
  display: flex;
  gap: 0.15rem;
  margin: 0;
}

.remove_button {
  margin-left: auto;
}

.price {
  grid-column: 2;
  justify-content: center;

  @include mix.media-up('md') {
    grid-column: 4;
    grid-row: 1;
  }
}

.counter {
  grid-row: 3;
  grid-column: 2;

  @include mix.media-up('md') {
    grid-row: 1;
    grid-column: 3;
    margin-inline: auto;
  }
}
