.content {
  max-width: 56.25rem;
  margin-inline: auto;
}

.cart_header {
  margin-bottom: 2rem;
}

.ordered_pizza_list {
  margin-bottom: 4rem;
}

.link_buttons_wrap {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  @include mix.media-up('md') {
    justify-content: space-between;
    flex-direction: row;
  }
}

.arrow_right_icon {
  margin-right: 1rem;
}

.order_total_wrap, {
  align-items: center;
  display: flex;
  color: var(--color-main-dark);
  justify-content: space-between;
  margin-bottom: 2.5rem;
  font-size: 1rem;

  @include mix.media-up('md') {
    font-size: 1.5rem;
  }
}


.total_quantity, .total_price {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.empty_cart {
  margin-inline: auto;
  padding-top: 4rem;
  width: fit-content;
}
