.cart_header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.cart_title {
  align-items: flex-end;
  display: flex;
  font-size: 1.25rem;
  height: 1.5rem;
  gap: .5rem;
  margin: 0;

  @include mix.media-up('md') {
    font-size: 1.75rem;
  }
}

.shopping_cart_icon {
  fill: currentColor;
  height: 1.5rem;
  width: 1.5rem;

  @include mix.media-up('md') {
    height: 2rem;
    width: 2rem;

  }
}

.clear_cart_btn {
  border: none;
  background-color: transparent;
  color: var(--color-main-gray);
  cursor: pointer;
  padding: .5rem 0;
  transition: color .25s;

  @include mix.media-up('md') {
    align-items: center;
    display: flex;
    gap: 0.5rem;
  }

  &:hover, &:focus {
    color: color-mix(in srgb, var(--color-main-gray), black 10%);
  }
}

.trash_bin_icon {
  color: currentColor;
  height: 1.25rem;
  width: 1.25rem;
}

.clear_cart_btn_text {
  display: none;
  font-size: 1.25rem;

  @include mix.media-up('md') {
    display: inline;
  }
}



