.section {
  display: grid;
  justify-items: center;
  max-width: 37.5rem;
  width: 100%;
}

.title {
  font-size: 2rem;
  margin: 0 0 0.75rem;
}

.subtitle {
  color: var(--color-main-gray);
  font-size: 1.1rem;
  letter-spacing: 0.01em;
  line-height: 1.5;
  margin: 0 0 3rem;
  text-align: center;

  .line_brake {
    display: none;

    @include mix.media-up('md') {
      display: inline;
    }
  }
}

.picture {
  max-width: 18.75rem;
  margin-bottom: 5rem;
  width: 100%;
}

