.app_logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: 16.5rem;

  &_icon {
    height: 2.5rem;
    width: 2.5rem;
  }

  &_title {
    color: var(--color-main-dark);
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
  }

  &_subtitle {
    color: var(--color-main-gray);
  }
}
