.wrapper {
  align-items: center;
  height: 40px;
  position: relative;
  max-width: 17.5rem;
}

.search_input {
  border: 1px solid var(--color-main-gray);
  border-radius: 30px;
  font-size: 1.2rem;
  height: 100%;
  outline: transparent;
  padding-inline: 1.3rem 2.5rem;
  transition: all 0.25s;
  width: 100%;

  &::-webkit-search-cancel-button {
    display: none;
  }

  &:focus {
    outline: 1px solid var(--color-main-gray);
  }
}

.cancel_icon {
  cursor: pointer;
  fill: var(--color-accent);
  height: 1.5rem;
  inset-block: 0;
  margin-block: auto;
  position: absolute;
  right: 0.7rem;
  width: 1rem;
  transition: all 0.25s;

  &:focus {
    outline: transparent;
  }

  &:focus-visible {
    outline: 2px solid var(--color-main-dark);
  }

  &:hover {
    rotate: 90deg;
  }
}
