%btn_base {
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

.root {
  position: relative;
  z-index: 10;
  width: fit-content;
}

.popup_trigger {
  @extend %btn_base;
  align-items: center;
  display: inline-flex;
  gap: 0.25rem;

  svg {
    width: 0.6rem;
    rotate: 90deg;
    transition: all 0.25s;

    &.is_rotated {
      rotate: 180deg;
    }
  }

  .title {
    margin-right: 4px;
  }

  .selected_sort_wrap {
    display: inline-block;
    min-width: 4rem;
    text-align: left;
  }

  .selected_sort {
    border-bottom: 1px dotted var(--color-accent);
    color: var(--color-accent);
  }
}

.sort_popup {
  position: absolute;
  right: 0.25rem;
  top: 135%;
  translate: 0 -25%;

  background-color: var(--color-main-light);
  box-shadow: 2px 2px 12px lightgrey;
  border-radius: 0.5rem;

  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s;

  &.is_visible {
    opacity: 1;
    pointer-events: auto;
    translate: 0;
  }

  .option {
    @extend %btn_base;
    padding: 10px 20px 10px 15px;
    width: 100%;

    &.active {
      background-color: color-mix(in srgb, var(--color-accent), white 90%);
      color: var(--color-accent);
      font-weight: 700;
    }
  }
}
