%btn_base {
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

.sort {
  position: relative;
  z-index: 1000;
  width: fit-content;

  &_trigger {
    @extend %btn_base;
    align-items: center;
    display: inline-flex;
    gap: 0.25rem;
  }

  &_icon {
    rotate: 90deg;
    transition: all 0.25s;

    &.rotate {
      rotate: 180deg;
    }
  }

  &_title {
    margin-right: 4px;
  }

  &_selected_sort_wrap {
    display: inline-block;
    min-width: 4rem;
    text-align: left;
  }

  &_selected_sort {
    border-bottom: 1px dotted var(--color-accent);
    color: var(--color-accent);
  }

  &_popover {
    box-shadow: 2px 2px 12px lightgrey;
    border-radius: 0.5rem;
    background-color: var(--color-main-light);
    overflow: hidden;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    right: 0.25rem;
    top: 135%;
    translate: 0 -25%;
    transition: all 0.25s;

    &.is_visible {
      opacity: 1;
      pointer-events: auto;
      translate: 0;
    }
  }

  &_option {
    @extend %btn_base;
    padding: 10px 20px 10px 15px;
    width: 100%;

    &.active {
      background-color: color-mix(in srgb, var(--color-accent), white 90%);
      color: var(--color-accent);
      font-weight: 700;
    }
  }
}
