.header {
  align-items: center;
  border-bottom: 1px solid #f6f6f6;
  display: flex;
  gap: 3rem;
  padding-block: 2rem;

  @include mix.media-up('md') {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include mix.media-down('md') {
    flex-direction: column;
  }

  @include mix.media-up('lg') {
    padding-block: 1.5rem;
  }
}


.cart_button_wrap {
  @include mix.media-up('lg') {
    order: 3;
  }
}

.search_wrap {
  @media (min-width: 48rem) and (max-width: 64rem) {
    margin-inline: auto;
  }
}
