@use '@/app/styles/mixins' as mixins;

.header {
  --header-pd-block: 2rem;
  border-bottom: 1px solid var(--color-main-border);
  padding-block: 1.9rem;

  &_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    @include mixins.mediaMin('md') {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &_search_wrap {
    @include mixins.mediaMin('md') {
      margin-inline: auto;
    }
  }

  &_cart_widget_wrap {
    @include mixins.mediaMin('lg') {
      order: 2;
    }
  }
}
