.header {
  align-items: center;
  border-bottom: 1px solid var(--color-header-border);
  display: flex;
  gap: 3rem;
  padding-block: 2rem;

  @include mix.media-up('md') {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include mix.media-down('md') {
    flex-direction: column;
  }

  @include mix.media-up('lg') {
    padding-block: 1.5rem;
  }
}

.children {
}

//HEADER CART BUTTON

.btn_link {
  font-weight: 700;

}

.btn_amount {
  margin-right: 2px;
}

.btn_divider {
  background-color: #fff;
  height: 25px;
  margin-inline: 1rem;
  width: 1px;
}

.btn_icon {
  height: 1rem;
  margin-right: 0.25rem;
  width: 1rem;
}
