/* Error: There is no module with the namespace "mix".
 *    ,
 * 17 | /   @include mix.media-up('md'){
 * 18 | |   font-size: 1.75rem;
 * 19 | \   }
 *    '
 *   cart-header.module.scss 17:3  root stylesheet */

body::before {
    font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
    "Droid Sans Mono", monospace, monospace;
    white-space: pre;
    display: block;
    padding: 1em;
    margin-bottom: 1em;
    border-bottom: 2px solid black;
    content: "Error: There is no module with the namespace \"mix\".\a    \2577 \a 17 \2502  \250c    @include mix.media-up('md'){\a 18 \2502  \2502    font-size: 1.75rem;\a 19 \2502  \2514    }\a    \2575 \a   cart-header.module.scss 17:3  root stylesheet";
}
